<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v8.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat" attribution=setup_tool page_id="2280607288663655">
</div>

<div class="container d-flex">
    <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mailto:contact@inzint.com"> contact@inzint.com</a>
        <!-- <i class="icofont-phone"></i> + 91 9759000975 -->

    </div>
    <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/inzint" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>

        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="https://www.linkedin.com/company/inzint" class="linkedin" target="_blank"><i
                class="bx bxl-linkedin"></i></a>

    </div>
</div>