<div class="container d-flex">
    <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mailto:contact@inzint.com"> contact@inzint.com</a>
        <!-- <i class="icofont-phone"></i> + 91 9759000975 -->

    </div>
    <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/inzint" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>

        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="https://www.linkedin.com/company/inzint" class="linkedin" target="_blank"><i
                class="bx bxl-linkedin"></i></a>

    </div>
</div>